<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}KindleNewsletter: Google Reader for Kindle{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		{% block stylesheets %}
			{% stylesheets '@EorKnlBundle/Resources/public/scss/main.scss' filter='compass' %}
				<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
			{% endstylesheets %}
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		{% block body %}{% endblock %}
		<div id="popmenu_holder_background"></div>
		<div id="popmenu_holder">
			<div class="titlebar">
				<div class="left">
					Menu
				</div>
				<div class="right">
					<a id="popmenu_holder_close" href="#"><img src="{{ asset('bundles/eorknl/img/icon/close.png') }}" /></a>
				</div>
			</div>
			<div class="content"></div>
		</div>
		{% block javascripts %}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
			{% javascripts '@EorKnlBundle/Resources/public/js/*.js' %}
				<script src="{{ asset_url }}"></script>
			{% endjavascripts %}
			<script>
				Reader.routes = {
					force_refresh: "{{ path('force_refresh') }}",
					set_state: "{{ path('set_state') }}",
					asset_prefix: "{{ asset('') }}"
				}
				
				Reader.states = {
					read: "{{ constant('Eor\\KnlBundle\\GoogleReader\\Client::STATE_READ') }}",
					star: "{{ constant('Eor\\KnlBundle\\GoogleReader\\Client::STATE_STAR') }}"
				}
			</script>
		{% endblock %}
	</body>
</html>
