{% extends "EorKnlBundle:Reader:base.html.twig" %}

{% block top_menu_left %}
	<div class="item-detail-commands">
		<a href="{{ item.link }}"><img src="{{ asset('bundles/eorknl/img/icon/link.png') }}" /></a>
		<a href="#" onclick="alert('This button is not implemented yet!'); return false;"><img src="{{ asset('bundles/eorknl/img/icon/unstar.png') }}" /></a>
		<a href="#" onclick="alert('This button is not implemented yet!'); return false;"><img src="{{ asset('bundles/eorknl/img/icon/eye_open.png') }}" /></a>
	</div>
{% endblock %}

{% block top_menu_popmenu_items %}
	<li><a href="{{ path("homepage") }}">Back to homepage</a></li>
	{{ parent() }}
{% endblock %}

{% block reader_content %}
	<div class="item-detail">
		<h1 class="title">{{ item.title }}</h1>
		<p class="metainfo">
			{{ list.stream.title|trim(". ") }}
			{% if item.author %}
				&nbsp;&nbsp;|&nbsp;&nbsp; By {{ item.author }}
			{% endif %}
			{% if item.published %}
				&nbsp;&nbsp;|&nbsp;&nbsp; {{ item.published|date }}.
			{% endif %}
		</p>
		<div class="content">
			{{ item.content|raw }}
		</div>
	</div>
{% endblock %}